<div class="ico_btn">
    #if($currentUser.role != "G")
        <a href="accesses/add#if($service)?service=$service#end"><img
                src="$rootContextPath.getURI("images/ico_add.png")" width="9" height="9"/><span
                class="ico_font">$i18n.get("add")</span></a>
        <span class="ico_line">|</span>
        <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
            "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
            "please.select")'); } else { showConfirm('$i18n.get(
            "confirm.batch.delete")', 'accesses' + '/delete?accesses=' + getCheckedAccesses('ids')); } return false;"><img
                src="$rootContextPath.getURI("images/ico_delete.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("batch.delete")</span></a>
    #end
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th width="20"><input type="checkbox" onclick="checkAll('table_o', 'ids', this.checked)"/></th>
        <th>$i18n.get("consumer.address"): <input type="text" onkeyup="searchTable('table_o', 1, this.value);"
                                                  onclick="searchTable('table_o', 1, this.value);"/>&nbsp;<img
                src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/></th>
        #set($column = 2) ## 是否显示 服务名一列
        #if(!$service)
            <th>$i18n.get("service"):
                <input type="text" onkeyup="searchTable('table_o', 2, this.value);"
                       onclick="searchTable('table_o', 2, this.value);"/>&nbsp;
                <img src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/>
            </th>
            #set($column = $column + 1)
        #end
        <th width="110">$i18n.get("type"):
            <select onchange="searchTable('table_o', $column, this.value);"
                    onclick="searchTable('table_o', $column, this.value);">
                <option value="">$i18n.get("all")</option>
                <option value="$i18n.get("whitelist")">$i18n.get("whitelist")</option>
                <option value="$i18n.get("blacklist")">$i18n.get("blacklist")</option>
            </select>
        </th>
        #if($currentUser.role != "G")
            <th width="170">$i18n.get("operation")</th>#end
    </tr>
    #foreach($access in $accesses)
        <tr>
            <td><input type="checkbox" name="ids" value="$access.service=$access.address"/></td>
            <td>$access.address</td>
            #if(!$service)
                <td><a href="services/$access.service/accesses">$access.service</a></td>
            #end
            <td>#if($access.allow==true) <font color="green">$i18n.get("whitelist")</font> #elseif($access.allow==false)
                <font color="red">$i18n.get("blacklist")</font> #end</td>
            #if($currentUser.role != "G")
                <td>
                    <a href="#" onclick="showConfirm('$i18n.get(
                        "confirm.delete")', '$access.address', 'accesses/delete?accesses=$access.service=$access.address'); return false;">
                        <img src="$rootContextPath.getURI("images/ico_delete.png")" width="12" height="12"/>
                        <span class="ico_font">$i18n.get("delete")</span></a>
                </td>
            #end
        </tr>
    #end
</table>
<div class="page">$i18n.get("page.total")$accesses.size()$i18n.get("page.records") </div>
<script language="javascript">
    function getCheckedAccesses(name) {
        var result = "";
        var checkboxs = document.getElementsByName(name);
        for (var i = 0; i < checkboxs.length; i++) {
            if (checkboxs[i].checked) {
                if (result.length > 0) {
                    result = result + "+";
                }
                result = result + checkboxs[i].value;
            }
        }
        return result;
    }
</script>