<div class="ico_btn">
    #if($currentUser.role != "G")
        <a href="routes/add"><img src="$rootContextPath.getURI("images/ico_add.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("add")</span></a>
        <span class="ico_line">|</span>
        <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
            "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
            "please.select")'); } else { showConfirm('$i18n.get(
            "confirm.batch.delete")', 'routes/' + getChecked('ids') + '/delete'); } return false;"><img
                src="$rootContextPath.getURI("images/ico_delete.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("batch.delete")</span></a>
        <span class="ico_line">|</span>
        <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
            "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
            "please.select")'); } else { showConfirm('$i18n.get(
            "confirm.batch.enable")', 'routes/' + getChecked('ids') + '/enable');} return false;"><img
                src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("batch.enable")</span></a>
        <span class="ico_line">|</span>
        <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
            "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
            "please.select")'); } else { showConfirm('$i18n.get(
            "confirm.batch.disable")', 'routes/' + getChecked('ids') + '/disable');} return false;"><img
                src="$rootContextPath.getURI("images/ico_disable.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("batch.disable")</span></a>
    #end
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th width="20"><input type="checkbox" onclick="checkAll('table_o', 'ids', this.checked)"/></th>
        <th>$i18n.get("route.name"): <input type="text" onkeyup="searchTable('table_o', 1, this.value);"
                                            onclick="searchTable('table_o', 1, this.value);"/>&nbsp;<img
                src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/></th>
        #if(!$service)
            <th>$i18n.get("ServiceName"): <input type="text" onkeyup="searchTable('table_o', 2, this.value);"
                                                 onclick="searchTable('table_o', 2, this.value);"/>&nbsp;<img
                    src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/></th>
            <th width="50">$i18n.get("Priority")</th>
            <th width="100">$i18n.get("status"): <select onchange="searchTable('table_o', 4, this.value);"
                                                         onclick="searchTable('table_o', 4, this.value);">
                <option value="">$i18n.get("all")</option>
                <option value="$i18n.get("enabled")">$i18n.get("enabled")</option>
                <option value="$i18n.get("disabled")">$i18n.get("disabled")</option>
            </select></th>
        #else
            <th width="50">$i18n.get("Priority")</th>
            <th width="100">$i18n.get("status"): <select onchange="searchTable('table_o', 3, this.value);"
                                                         onclick="searchTable('table_o', 3, this.value);">
                <option value="">$i18n.get("all")</option>
                <option value="$i18n.get("enabled")">$i18n.get("enabled")</option>
                <option value="$i18n.get("disabled")">$i18n.get("disabled")</option>
            </select></th>
        #end
        <th width="340">$i18n.get("operation")</th>
    </tr>
    #foreach($route in $routes)
        <tr>
            <td><input type="checkbox" name="ids" value="$route.id"/></td>
            <td><a href="routes/$route.id">$route.name</a></td>
            #if(!$service)
                <td><a href="services/$route.service/routes">$route.service</a></td>
            #end
            <td>$route.priority</td>
            <td>
                #if($route.enabled)
                    <font color="green">$i18n.get("Enabled")</font>
                #else
                    <font color="red">$i18n.get("Disabled")</font>
                #end
            </td>
            <td>
                <a href="routes/$route.id/routeselect"><img src="$rootContextPath.getURI("images/ico_show.png")"
                                                            width="12" height="12"/><span class="ico_font">$i18n.get(
                    "proview")</span></a>
                #if($currentUser.role != "G")
                    <span class="ico_line">|</span>
                    <a href="routes/$route.id/edit"><img src="$rootContextPath.getURI("images/ico_edit.png")" width="12"
                                                         height="12"/><span class="ico_font">$i18n.get(
                        "edit")</span></a>
                    <span class="ico_line">|</span>
                    <a href="routes/$route.id/edit?actionflag=copy"><img
                            src="$rootContextPath.getURI("images/ico_register.png")" width="12" height="12"/><span
                            class="ico_font">$i18n.get("copy")</span></a>
                    <span class="ico_line">|</span>
                    #if($route.enabled)
                        <a href="#" onclick="showConfirm('$i18n.get(
                            "confirm.disable")', '$route.name', 'routes/$route.id/disable'); return false;">
                            <img src="$rootContextPath.getURI("images/ico_disable.png")" width="13" height="13"/>
                            <span class="ico_font">$i18n.get("disable")</span></a>
                    #else
                        <a href="#" onclick="showConfirm('$i18n.get(
                            "confirm.enable")', '$route.name', 'routes/$route.id/enable'); return false;">
                            <img src="$rootContextPath.getURI("images/ico_enable.png")" width="13" height="13"/>
                            <span class="ico_font">$i18n.get("enable")</span></a>
                    #end
                    <span class="ico_line">|</span>
                    <a href="#" onclick="showConfirm('$i18n.get(
                        "confirm.delete")', '$route.name', 'routes/$route.id/delete'); return false;">
                        <img src="$rootContextPath.getURI("images/ico_delete.png")" width="12" height="12"/>
                        <span class="ico_font">$i18n.get("delete")</span></a>
                #end
            </td>
        </tr>
    #end
</table>
<div class="page">$i18n.get("page.total")$routes.size()$i18n.get("page.records") </div>
