<div class="ico_btn">
    <a href="../../routes"><img src="$rootContextPath.getURI("images/ico_back.png")" width="12" height="12"/><span
            class="ico_font">$i18n.get("back")</span></a>
    <span class="ico_line">|</span>
    <a href="../$route.id"><img src="$rootContextPath.getURI("images/ico_show.png")" width="12" height="12"/><span
            class="ico_font">$i18n.get("show")</span></a>
    #if($currentUser.role != "G")
        <span class="ico_line">|</span>
        <a href="../$route.id/edit"><img src="$rootContextPath.getURI("images/ico_edit.png")" width="12"
                                         height="12"/><span class="ico_font">$i18n.get("edit")</span></a>
        <span class="ico_line">|</span>
        <a href="../$route.id/edit?actionflag=copy"><img src="$rootContextPath.getURI("images/ico_register.png")"
                                                         width="12" height="12"/><span class="ico_font">$i18n.get(
            "copy")</span></a>
        <span class="ico_line">|</span>
        #if($route.enabled)
            <a href="#" onclick="showConfirm('$i18n.get(
                "confirm.disable")', '$route.name', '../$route.id/disable'); return false;">
                <img src="$rootContextPath.getURI("images/ico_disable.png")" width="13" height="13"/>
                <span class="ico_font">$i18n.get("disable")</span></a>
        #else
            <a href="#" onclick="showConfirm('$i18n.get(
                "confirm.enable")', '$route.name', '../$route.id/enable'); return false;">
                <img src="$rootContextPath.getURI("images/ico_enable.png")" width="13" height="13"/>
                <span class="ico_font">$i18n.get("enable")</span></a>
        #end
        <span class="ico_line">|</span>
        <a href="#"
           onclick="showConfirm('$i18n.get("confirm.delete")', '$route.name', '../$route.id/delete'); return false;">
            <img src="$rootContextPath.getURI("images/ico_delete.png")" width="12" height="12"/>
            <span class="ico_font">$i18n.get("delete")</span></a>
    #end
</div><br>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th>$i18n.get("ConsumerAddress")</th>
        <th>$i18n.get("RegisterUsername")</th>
        <th>$i18n.get("RegisterDate")</th>
        <th>$i18n.get("RegistryAddress")</th>
        <th>$i18n.get("Preview")</th>
    </tr>
    #foreach($consumer in $consumers)
        <tr>
            <td>$tool.getHostPrefix($consumer.address)$consumer.address</td>
            <td>$consumer.username</td>
            <td>$tool.formatDate($consumer.created)</td>
            <td>$tool.getHostPrefix($consumer.registry)$consumer.registry</td>
            <td>
                #if($matchRoute.get($consumer.address))
                    <a href="preview?cid=$consumer.id">$i18n.get("Preview")</a>
                #else
                    <font color="blue">$i18n.get("route.consumer.not.match")</font>
                #end
            </td>
        </tr>
    #end
</table>


<form id="form1" method="get" action="preview" onsubmit="return preview_check();">
    <table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
        <tr>
            <th>自定义Consumer：</th>
        </tr>
        <tr>
            <td>$i18n.get("ConsumerAddress"): <input id="customizedAddr" type="text" name="address" value=""
                                                     maxlength="200"> <input type="hidden" name="service"
                                                                             value="$service" maxlength="200"></td>
        </tr>
        <tr>
            <td><a onclick="if(preview_check()){document.getElementById('form1').submit();}">$i18n.get("Preview")</a>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function preview_check() {
        addr = byId('customizedAddr').value.trim()
        if (addr == '') {
            showAlert("$i18n.get("PleaseInput")$i18n.get("ConsumerAddress")");
            return false;
        }
        var exp = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.\*$/;
        var exp2 = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5]).(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
        if (!addr.match(exp2) && !addr.match(exp)) {
            showAlert("$i18n.get("ConsumerAddress") " + addr + " is illegal");
            return false;
        }
        return true;
    }
</script>

