<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
         <Console name="Console" target="SYSTEM_OUT">
           <PatternLayout pattern="[%d{dd/MM/yy hh:mm:ss:sss z}] %t %5p %c{2}: %m%n"/>
         </Console>
       </Appenders>
       <Loggers>
         <Root level="info">
           <AppenderRef ref="Console"/>
         </Root>
       </Loggers>
</Configuration>
