<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >

        <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
                        <layout class="org.apache.log4j.PatternLayout">
                                                <param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %t %5p %c{2}: %m%n" />
                                                                </layout>
                                                                        </appender>

        <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
                        <param name="File" value="logs/monitor-provider.log" />
                                        <param name="Append" value="true" />
                                                        <param name="DatePattern" value="'.'yyyy-MM-dd" />
                                                                        <layout class="org.apache.log4j.PatternLayout">

                <param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %t %5p %c{2}: %m%n" />

                                </layout>

                                        </appender>

        <root>
                        <level value="DEBUG" />
                                        <appender-ref ref="CONSOLE" />
                                                        <!--appender-ref ref="FILE" /-->
        </root>

</log4j:configuration>