a[name="gs"],a[name="tutorials"] {
	text-decoration: none !important;
}

.content--container h1 {
	margin-bottom: 15px;
}

.content--container a {
	color: #5fa134;
}

.content--container p,.content--container ul {
	margin-bottom: 20px;
	border-radius: 0;
}

.content--container pre {
	margin-top: -10px;
	margin-bottom: 20px;
	border-radius: 0;
}

.content--container h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	margin: 30px 0 10px;
}

.content--container h3,.content--container h4 {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	margin: 20px 0 10px;
}

.content--container p code {
	color: #305CB5;
	font-size: 14px;
	padding: 2px 6px;
}

.content--container ul li {
	margin-bottom: 5px;
}

.content--container ul li code {
	color: #305CB5;
	font-size: 14px;
	padding: 2px 6px;
}

.content--container blockquote {
	padding: 0 0 0 10px;
	border-left: 4px solid #6db33f;
	background-color: #EBF1E7;
	padding: 25px 20px;
	margin: 30px 0;
	font-family: "Montserrat", sans-serif;
}

.content--container blockquote strong {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 6px;
}

.content--container blockquote p {
	margin: 0;
	font-size: 14px;
	line-height: 20px;
}

.content--container pre {
	word-break: normal;
	word-wrap: normal;
	white-space: pre;
	overflow-x: auto;
	width: 96.9%;
}

.content--container .highlight .copy-button {
	position: absolute;
	margin-left: 634px;
}

.content--container strong {
	font-family: "Montserrat", sans-serif;
}

.content-right-pane--container h2 {
	margin: 15px 6.2%;
}

.content-right-pane--container p {
	font-size: 14px;
	line-height: 21px;
	margin: 15px 6.2%;
}

.content-right-pane--container h3 {
	border-top: 1px solid #dddddd;
	padding: 6px 6.2%;
	font-family: "Montserrat", sans-serif;
	margin: 0;
}

.content-right-pane--container ul {
	margin: 0;
}

.content-right-pane--container ul li {
	line-height: 21px;
}

.content-right-pane--container ul li:last-child {
	padding-bottom: 28px;
}

.content-right-pane--container ul li:first-child {
	padding-bottom: 12px;
}

.content-right-pane--container .btn-group {
	margin: 0 6.2%;
	display: block;
}

.content-right-pane--container .btn-group .btn {
	font-family: "Varela Round", sans-serif;
	padding: 12px 6.4% 10px;
	font-size: 16px;
	line-height: 16px;
	border: 1px solid #dddddd;
	box-shadow: none;
}

.content-right-pane--container .btn-group .btn.active {
	background: #fff;
	box-shadow: none;
}

.content-right-pane--container .btn-group .btn:active {
	box-shadow: inset 0 1px 3px #c8c8c8;
}

.content-right-pane--container .clone-url {
	border: 1px solid #cccccc;
	background-color: white;
	cursor: pointer;
	margin: 15px 6.2%;
}

.content-right-pane--container .clone-url input {
	background-color: transparent;
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 10px 0 10px 14px;
}

.content-right-pane--container .clone-url input:focus {
	outline: none;
}

.content-right-pane--container .clone-url button {
	padding: 20px;
	margin: 0;
	float: right;
}

.content-right-pane--container .github_download {
	display: block;
	text-align: center;
	margin: 15px 6.2%;
}

.go-to-repo--container {
	margin-top: 20px;
	padding: 10px 6.2%;
	border-top: 1px solid white;
}

.go-to-repo--container a {
	vertical-align: middle;
	color: #5fa134;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
	margin-top: 1px;
}

.go-to-repo--container a:hover {
	color: #6ab43a;
}

.go-to-repo--container i {
	color: #d4d4d4;
	font-size: 24px;
	margin-right: 10px;
	float: left;
	margin-top: -2px;
}

.copy-button {
	background-color: #cccccc;
	margin: 1px 1px 10px 0;
	padding: 20px;
	background-image: url("../img/iconsprite.png");
	background-repeat: no-repeat;
	background-position: 2px -429px;
	width: 20px;
	height: 22px;
	border: none;
	background-color: #34302d;
}

.copy-button.snippet {
	float: right;
}

a.ci-status {
	float: right;
	margin-top: -27px;
}

.gs-guide-import {
	display: none;
}

.tutorial-text img {
	border: 6px solid white;
	box-shadow: 0 0px 4px #cccccc, 0 1px 0 #cccccc;
}

.tutorial-text table {
	border-color: #808080;
	text-align: left;
	margin: 60px 0;
}

.tutorial-text table th {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	border-bottom: 1px solid #cccccc;
	padding: 0 30px 5px 8px;
	vertical-align: bottom;
	font-family: "Montserrat", sans-serif;
}

.tutorial-text table th:last-child {
	padding-right: 8px;
}

.tutorial-text table tr:last-child {
	border-bottom: 1px solid #cccccc;
}

.tutorial-text table td {
	padding: 8px 20px 8px 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

.tutorial-text table td:last-child {
	padding-right: 8px;
	border-right: 1px solid #cccccc;
}

.tutorial-text table td:first-child {
	border-left: 1px solid #cccccc;
}

.tutorial-text table tr:nth-child(odd)>td,.tutorial-text table .table-striped tbody>tr:nth-child(odd)>th
	{
	background-color: #F9F9F9;
}

.tutorial-text article.markdown-body h1 {
	font-size: 21px;
	line-height: 28px;
	font-weight: 400;
	margin: 30px 0 10px;
}

.tutorial-text article.markdown-body h2 {
	font-family: "Varela Round", sans-serif;
	font-size: 19px;
}
