<div class="ico_btn">
    <a href="../status" target="_blank"><img src="$rootContextPath.getURI("images/ico_run.png")" width="12"
                                             height="12"/><span class="ico_font">$i18n.get("summary")</span></a>
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th width="140">$i18n.get("status.resourcename"): <input type="text" style="width: 60px;"
                                                                 onkeyup="searchTable('table_o', 0, this.value);"
                                                                 onclick="searchTable('table_o', 0, this.value);"/>&nbsp;<img
                src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/></th>
        <th width="100">$i18n.get("status.status"): <select onchange="searchTable('table_o', 1, this.value);"
                                                            onclick="searchTable('table_o', 1, this.value);">
            <option value="">$i18n.get("all")</option>
            <option value="$i18n.get("status.OK")">$i18n.get("status.OK")</option>
            <option value="$i18n.get("status.WARN")">$i18n.get("status.WARN")</option>
            <option value="$i18n.get("status.ERROR")">$i18n.get("status.ERROR")</option>
        </select></th>
        <th width="50%">$i18n.get("status.message"): <input type="text" onkeyup="searchTable('table_o', 2, this.value);"
                                                            onclick="searchTable('table_o', 2, this.value);"/>&nbsp;<img
                src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/></th>
        <th>$i18n.get("status.description")</th>
    </tr>
    #foreach($status in $statusList.entrySet())
        <tr>
            <td>$i18n.get("status.${status.key}Status")</td>
            <td>
                #if($status.value.level == "OK")
                <font color="green">
                #elseif($status.value.level == "WARN")
                <font color="orange">
                #elseif($status.value.level == "ERROR")
                <font color="red">
                #else
                <font color="gray">
                #end
                $i18n.get("status.$status.value.level")
            </font>
            </td>
            <td>$tool.unescape($status.value.message)</td>
            <td>$i18n.get("status.${status.key}StatusDesc")</td>
        </tr>
    #end
</table>