<div class="ico_btn">
	#if($currentUser.role != "G")
	<a href="weights/add#if($service)?service=$service#end"><img src="$rootContextPath.getURI("images/ico_add.png")" width="9" height="9" /><span class="ico_font">$i18n.get("add")</span></a>
	<span class="ico_line">|</span>
	<a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get("empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get("please.select")'); } else { showConfirm('$i18n.get("confirm.batch.delete")', 'weights/' + getChecked('ids') + '/delete'); } return false;"><img src="$rootContextPath.getURI("images/ico_delete.png")" width="12" height="12" /><span class="ico_font">$i18n.get("batch.delete")</span></a>
	#end
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
<tr>
	<th width="20"><input type="checkbox" onclick="checkAll('table_o', 'ids', this.checked)" /></th>
	<th>$i18n.get("address"): <input type="text" onkeyup="searchTable('table_o', 1, this.value);" onclick="searchTable('table_o', 1, this.value);" />&nbsp;<img src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12" /></th>
	#if(! $service)
	<th>$i18n.get("service"): <input type="text" onkeyup="searchTable('table_o', 2, this.value);" onclick="searchTable('table_o', 2, this.value);" />&nbsp;<img src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12" /></th>
	#end
	<th width="50">$i18n.get("weights")</th>
	#if($currentUser.role != "G")<th width="135">$i18n.get("operation")</th>#end
</tr>
#foreach($weight in $weights)
<tr>
	<td><input type="checkbox" name="ids" value="$weight.id" /></td>
	<td>$weight.address</td>
	#if(! $service)
	<td><a href="services/$weight.service/weights">$weight.service</a></td>
	#end
	<td>$weight.weight</td>
	#if($currentUser.role != "G")
	<td>
		<a href="weights/$weight.id/edit" >
			<img src="$rootContextPath.getURI("images/ico_edit.png")" width="13" height="13" />
			<span class="ico_font">$i18n.get("edit")</span></a>
		<span class="ico_line">|</span>
		<a href="#" onclick="showConfirm('$i18n.get("confirm.delete")', '$weight.address', 'weights/$weight.id/delete'); return false;">
			<img src="$rootContextPath.getURI("images/ico_delete.png")" width="12" height="12" />
			<span class="ico_font">$i18n.get("delete")</span></a>
	</td>
	#end
</tr>
#end
</table>
<div class="page">$i18n.get("page.total")$weights.size()$i18n.get("page.records") </div>
