#if(! $services || $services.size() == 0)
<font color="red">$i18n.get("not.found")</font> (<a href="services?keyword=*">$i18n.get("show.all")</a>)
#elseif($keyword && $services.size() == 1)
<script type="text/javascript">
        #if(! $providerServices.contains($services.iterator().next()))
        window.location.href = "services/$services.iterator().next()/consumers";
        #else
        window.location.href = "services/$services.iterator().next()/providers";
        #end
</script>
#else
<div class="ico_btn">
    #if($currentUser.role != "G")
        #if($application)
            <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
                "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
                "please.select")'); } else { showConfirm('$i18n.get(
                "confirm.batch.force.mock")', 'services/0/shield?service=' + getChecked('ids'));} return false;"><img
                    src="$rootContextPath.getURI("images/ico_disable.png")" width="12" height="12"/><span
                    class="ico_font">$i18n.get("batch.force.mock")</span></a>
            <span class="ico_line">|</span>
            <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
                "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
                "please.select")'); } else { showConfirm('$i18n.get(
                "confirm.batch.fail.mock")', 'services/0/tolerant?service=' + getChecked('ids'));} return false;"><img
                    src="$rootContextPath.getURI("images/ico_run.png")" width="12" height="12"/><span
                    class="ico_font">$i18n.get("batch.fail.mock")</span></a>
            <span class="ico_line">|</span>
            <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
                "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
                "please.select")'); } else { showConfirm('$i18n.get(
                "confirm.batch.fail.mock")', 'services/0/recover?service=' + getChecked('ids'));} return false;"><img
                    src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12"/><span
                    class="ico_font">$i18n.get("batch.cancel.mock")</span></a>
        #end
    #end
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th width="20"><input type="checkbox" onclick="checkAll('table_o', 'ids', this.checked)"/></th>
        <th>$i18n.get("service"):
            <input type="text" onkeyup="searchTable('table_o', 0, this.value);"
                   onclick="searchTable('table_o', 0, this.value);"/>&nbsp;<img
                    src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/>
        </th>
        <th width="135">$i18n.get("status"):
        <select onchange="searchTable('table_o', 1, this.value);" onclick="searchTable('table_o', 1, this.value);">
            <option value="">$i18n.get("all")</option>
            #if($application)
                <option value="$i18n.get("provided")">$i18n.get("provided")</option>
                <option value="$i18n.get("consumed")">$i18n.get("consumed")</option>
            #else
                <option value="$i18n.get("ok")">$i18n.get("ok")</option>
                <option value="$i18n.get("no.provider")">$i18n.get("no.provider")</option>
                <option value="$i18n.get("no.consumer")">$i18n.get("no.consumer")</option></select>
            #end
            </select></th>
        #if($application)
            <th width="110">$i18n.get("mock"): <select onchange="searchTable('table_o', 3, this.value);"
                                                       onclick="searchTable('table_o', 3, this.value);">
                <option value="">$i18n.get("all")</option>
                <option value="$i18n.get("ok")">$i18n.get("ok")</option>
                <option value="$i18n.get("force.mock")">$i18n.get("force.mock")</option>
                <option value="$i18n.get("fail.mock")">$i18n.get("fail.mock")</option>
            </select></th>
            <th>$i18n.get("operation")</th>
        #end
    </tr>
    #foreach($service in $services)
        <tr>
            <td><input type="checkbox" name="ids" value="$service"/></td>
            <td>
                #if(! $providerServices.contains($service))
                    <a href="services/$service/consumers">$service</a>
                #else
                    <a href="services/$service/providers">$service</a>
                #end
            </td>
            <td>
                #if($application)
                    #if($providerServices.contains($service))
                        <font color="green">$i18n.get("provided")</font>
                        #if($consumerServices.contains($service))
                            &<font color="blue">$i18n.get("consumed")</font>
                        #end
                    #elseif($consumerServices.contains($service))
                        <font color="blue">$i18n.get("consumed")</font>
                    #end
                #else
                    #if(! $providerServices.contains($service))
                        <font color="red">$i18n.get("no.provider")</font>
                    #elseif(! $consumerServices.contains($service))
                        <font color="blue">$i18n.get("no.consumer")</font>
                    #else
                        <font color="green">$i18n.get("ok")</font>
                    #end
                #end
            </td>
            #if($application)
                <td>
                    #if($consumerServices.contains($service))
                        #set($mock=$tool.getOverridesMock($overrides.get($application)))
                        #if($mock == "force%3Areturn+null")
                            <font color="red">$i18n.get("force.mocked")</font>
                        #elseif ($mock == "fail%3Areturn+null")
                            <font color="blue">$i18n.get("fail.mocked")</font>
                        #else
                            <font color="gray">$i18n.get("no.mocked")</font>
                        #end
                    #end
                </td>
                <td>
                    #if($consumerServices.contains($service))
                        #set($mock=$tool.getOverridesMock($overrides.get($application)))
                        #if($mock == "force%3Areturn+null")
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.cancel.mock")', 'services/0/recover?service=$service'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12"/><span
                                    class="ico_font">$i18n.get("cancel.mock")</span></a>
                            <span class="ico_line">|</span>
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.fail.mock")', 'services/0/tolerant?service=$service'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_run.png")" width="12" height="12"/><span
                                    class="ico_font">$i18n.get("fail.mock")</span></a>
                        #elseif ($mock == "fail%3Areturn+null")
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.force.mock")', 'services/0/shield?service=$service'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_disable.png")" width="12"
                                    height="12"/><span class="ico_font">$i18n.get("force.mock")</span></a>
                            <span class="ico_line">|</span>
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.cancel.mock")', 'services/0/recover?service=$service'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12"/><span
                                    class="ico_font">$i18n.get("cancel.mock")</span></a>
                        #else
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.force.mock")', 'services/0/shield?service=$service'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_disable.png")" width="12"
                                    height="12"/><span class="ico_font">$i18n.get("force.mock")</span></a>
                            <span class="ico_line">|</span>
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.fail.mock")', 'services/0/tolerant?service=$service'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_run.png")" width="12" height="12"/><span
                                    class="ico_font">$i18n.get("fail.mock")</span></a>
                        #end
                    #end
                </td>
            #end
        </tr>
    #end
</table>
<div class="page">$i18n.get("page.total")$services.size()$i18n.get("page.records") </div>
#end