<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- Webx Logging Settings -->
    <context-param>
        <param-name>loggingLevel</param-name>
        <param-value>INFO</param-value>
    </context-param>
    <context-param>
        <param-name>loggingCharset</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <!-- BUC -->
    <!-- <filter>
       <filter-name>ssoFilter</filter-name>
       <filter-class>com.alibaba.buc.sso.client.filter.SSOFilter</filter-class>
       <init-param>
          <param-name>APP_NAME</param-name>
          <param-value>dubbo</param-value> ps:修改app_name成在应用接入方的应用名，此应用名会在buc系统上注册
        </init-param>
       <init-param>
         <param-name>SSO_CALLBACK_CLASS</param-name>
         <param-value>com.alibaba.dubbo.governance.web.common.interceptor.BucCookieHandler</param-value>ps:用户可扩展的ssoCallback 一般都需要用户扩展
       </init-param>

       <init-param>
           <param-name>SSO_SERVER_URL</param-name>
           <param-value>https://login.alibaba-inc.com</param-value> 线上应用请使用:  https://login.alibaba-inc.com
       </init-param>

       <init-param>
           <param-name>EXCLUSIONS</param-name> ps:直接绕过sso filter的requestUri，uri间用半角逗号隔开
           <param-value>/sendBucSSOToken,/bucSSOLogout,/login.htm,/logout.htm,/images*,/css*,/js*,/reg,/lookup,/unreg,/unregister,/unregisterall,/status,/status/*,/register,/disable,*.ico,/rpc/*,/error*,/sysinfo/dump/*</param-value>
       </init-param>
    </filter>
    <filter-mapping>
    <filter-name>ssoFilter</filter-name>
    <url-pattern>/*</url-pattern>
    </filter-mapping>
 -->
    <!-- Logger -->
    <listener>
        <listener-class>com.alibaba.citrus.logconfig.LogConfiguratorListener</listener-class>
    </listener>

    <!-- Loading /WEB-INF/webx.xml, /WEB-INF/webx-*.xml -->
    <listener>
        <listener-class>com.alibaba.citrus.webx.context.WebxContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>mdc</filter-name>
        <filter-class>com.alibaba.citrus.webx.servlet.SetLoggingContextFilter</filter-class>
    </filter>

    <!--
    <filter>
        <filter-name>welcomeFilter</filter-name>
        <filter-class>org.mortbay.servlet.WelcomeFilter</filter-class>
    </filter>
    -->

    <filter>
        <filter-name>webx</filter-name>
        <filter-class>com.alibaba.citrus.webx.servlet.WebxFrameworkFilter</filter-class>
        <init-param>
            <param-name>excludes</param-name>
            <param-value>*.css, *.js, *.jpg, *.gif, *.png, *.jpeg,/sendBucSSOToken,/bucSSOLogout</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>mdc</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>webx</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
