<div class="head" style="color: white;">
    <table cellpadding="0" cellspacing="0" border="0" height="78" width="100%">
        <tr>
            <td rowspan="2" width="145"><a href="$rootContextPath.getURI("/")"><img
                    src="$rootContextPath.getURI("images/logo.png")" width="145" height="78" border="0"/></a></td>
            <td height="20">
                <table cellpadding="0" cellspacing="0" border="0" width="400" align="right" style="float: right;">
                    <tr>
                        <td>
                            <div id="marqueeBox" onmouseover="stopScroll();" onmouseout="startScroll();"
                                 style="overflow: hidden; height: 20px; width: 400px;">
                                <div id="marqueeText"
                                     style="padding-left: 400px; padding-right: 3000px; float: left; word-wrap: normal; word-break: normal;">$!bulletin</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 30px; padding-right: 10px;">
                <table cellpadding="0" cellspacing="0" border="0" align="right" style="float: right;">
                    <tr>
                        <td style="padding-left: 10px;"><img src="$rootContextPath.getURI("images/ico_show.png")"
                                                             width="14" height="14" border="0"/></td>
                        <td>
                            <div id="showLanguage" style="display: ; text-decoration: underline;"
                                 onmouseover="byId('showLanguage').style.display = 'none'; byId('chooseLanguage').style.display = ''; byId('selectLanguage').focus();">
                                #if($language == "en")
                                    English
                                #elseif($language == "zh_TW")
                                    繁體中文
                                #else
                                    简体中文
                                #end
                            </div>
                            <div id="chooseLanguage" style="display: none;">
                                <select id="selectLanguage"
                                        onchange="setCookie('locale', this.value);window.location.reload();"
                                        onblur="byId('showLanguage').style.display = ''; byId('chooseLanguage').style.display = 'none';">
                                    <option value="en" #if($language == "en")selected="selected"#end>English</option>
                                    <option value="zh" #if($language == "zh")selected="selected"#end>简体中文</option>
                                    <option value="zh_TW" #if($language == "zh_TW")selected="selected"#end>繁體中文</option>
                                </select>
                            </div>
                        </td>
                        <td style="padding-left: 10px;"><img src="$rootContextPath.getURI("images/ico_user.png")"
                                                             width="14" height="14" border="0"/></td>
                        <td>
                            #if($currentUser.name)$currentUser.name#else$currentUser.username#end, $i18n.get("welcome")
                        </td>
                        <td style="padding-left: 10px;"><img src="$rootContextPath.getURI("images/exit.png")" width="14"
                                                             height="19" border="0"/></td>
                        <td><a href="#" onclick="showConfirm('$i18n.get("confirm.logout")', '$i18n.get(
                            "current.user"): $currentUser.Name', '$bucLogoutAddress'); return false;"
                               style="color: white;">$i18n.get("logout")</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="nav">
    <ul>
        <li id="unique_tab1"><a href="$rootContextPath.getURI("/")">$i18n.get("home")</a></li>
        <li id="unique_tab2" class="sub_nav"><a href="#" onclick="return false;" style="cursor:default;">$i18n.get(
            "governance")</a>
            <ul>
                #if($tool.checkUrl($currentUser,"/governance/services"))
                    <li><a href="$rootContextPath.getURI("/governance/services")">$i18n.get("services")</a></li>#end
                #if($tool.checkUrl($currentUser,"/governance/applications"))
                    <li><a href="$rootContextPath.getURI("/governance/applications")">$i18n.get("applications")</a>
                    </li>#end
                #if($tool.checkUrl($currentUser,"/governance/addresses"))
                    <li><a href="$rootContextPath.getURI("/governance/addresses")">$i18n.get("addresses")</a></li>#end
                #if($tool.checkUrl($currentUser,"/governance/providers"))
                    <li><a href="$rootContextPath.getURI("/governance/providers")">$i18n.get("providers")</a></li>#end
                #if($tool.checkUrl($currentUser,"/governance/consumers"))
                    <li><a href="$rootContextPath.getURI("/governance/consumers")">$i18n.get("consumers")</a></li>#end
                #if($tool.checkUrl($currentUser,"/governance/routes"))
                    <li><a href="$rootContextPath.getURI("/governance/routes")">$i18n.get("routes")</a></li>#end
                #if($tool.checkUrl($currentUser,"/governance/overrides"))
                    <li><a href="$rootContextPath.getURI("/governance/overrides")">$i18n.get("overrides")</a></li>#end
                #if($tool.checkUrl($currentUser,"/governance/accesses"))
                    <li><a href="$rootContextPath.getURI("/governance/accesses")">$i18n.get("accesses")</a></li>#end
                #if($tool.checkUrl($currentUser,"/governance/weights"))
                    <li><a href="$rootContextPath.getURI("/governance/weights")">$i18n.get("weights")</a></li>#end
                #if($tool.checkUrl($currentUser,"/governance/loadbalances"))
                    <li><a href="$rootContextPath.getURI("/governance/loadbalances")">$i18n.get("loadbalances")</a>
                    </li>#end
                #if($tool.checkUrl($currentUser,"/governance/owners"))
                    <li><a href="$rootContextPath.getURI("/governance/owners")">$i18n.get("owners")</a></li>#end
            </ul>
        </li>
        <li id="unique_tab3" class="sub_nav"><a href="#" onclick="return false;" style="cursor:default;">$i18n.get(
            "system.management")</a>
            <ul>
                #if($tool.checkUrl($currentUser,"/sysinfo/versions"))
                    <li><a href="$rootContextPath.getURI("/sysinfo/versions")">$i18n.get("versions")</a></li>#end
                #if($tool.checkUrl($currentUser,"/sysinfo/dumps"))
                    <li><a href="$rootContextPath.getURI("/sysinfo/dumps")">$i18n.get("dumps")</a></li>#end
                #if($tool.checkUrl($currentUser,"/sysinfo/statuses"))
                    <li><a href="$rootContextPath.getURI("/sysinfo/statuses")">$i18n.get("statuses")</a></li>#end
                #if($tool.checkUrl($currentUser,"/sysinfo/logs"))
                    <li><a href="$rootContextPath.getURI("/sysinfo/logs")">$i18n.get("logs")</a></li>#end
                #if($tool.checkUrl($currentUser,"/sysinfo/envs"))
                    <li><a href="$rootContextPath.getURI("/sysinfo/envs")">$i18n.get("envs")</a></li>#end
            </ul>
        </li>
    </ul>
    <div class="about">
        <table>
            <tr>
                <td><img src="$rootContextPath.getURI("images/ico_help.png")" width="14" height="14" border="0"/></td>
                <td><a href="$helpUrl" target="_blank">$i18n.get("help")</a></td>
            </tr>
        </table>
    </div>
</div>
