<div class="ico_btn">
	<a href="../../consumers"><img src="$rootContextPath.getURI("images/ico_back.png")" width="12" height="12" /><span class="ico_font">$i18n.get("back")</span></a>
	<span class="ico_line">|</span>
	<a href="../$consumer.id"><img src="$rootContextPath.getURI("images/ico_show.png")" width="12" height="12" /><span class="ico_font">$i18n.get("show")</span></a>
	#set($mock=$tool.getConsumerMock($consumer))
	#if($currentUser.hasServicePrivilege($consumer.service))
		<span class="ico_line">|</span>
		#if($mock.equals("force%3Areturn+null"))
			<a href="#" onclick="showConfirm('$i18n.get("confirm.cancel.mock")', '$consumer.address -&gt; $tool.getSimpleName($consumer.service)', '../$consumer.id/recover'); return false;"><img src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12" /><span class="ico_font">$i18n.get("cancel.mock")</span></a>
			<span class="ico_line">|</span>
			<a href="#" onclick="showConfirm('$i18n.get("confirm.fail.mock")', '$consumer.address -&gt; $tool.getSimpleName($consumer.service)', '../$consumer.id/tolerant'); return false;"><img src="$rootContextPath.getURI("images/ico_run.png")" width="12" height="12" /><span class="ico_font">$i18n.get("fail.mock")</span></a>
		#elseif ($mock.equals("fail%3Areturn+null"))
			<a href="#" onclick="showConfirm('$i18n.get("confirm.force.mock")', '$consumer.address -&gt; $tool.getSimpleName($consumer.service)', '../$consumer.id/shield'); return false;"><img src="$rootContextPath.getURI("images/ico_cancel.png")" width="12" height="12" /><span class="ico_font">$i18n.get("force.mock")</span></a>
			<span class="ico_line">|</span>
			<a href="#" onclick="showConfirm('$i18n.get("confirm.cancel.mock")', '$consumer.address -&gt; $tool.getSimpleName($consumer.service)', '../$consumer.id/recover'); return false;"><img src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12" /><span class="ico_font">$i18n.get("cancel.mock")</span></a>
		#else
			<a href="#" onclick="showConfirm('$i18n.get("confirm.force.mock")', '$consumer.address -&gt; $tool.getSimpleName($consumer.service)', '../$consumer.id/shield'); return false;"><img src="$rootContextPath.getURI("images/ico_cancel.png")" width="12" height="12" /><span class="ico_font">$i18n.get("force.mock")</span></a>
			<span class="ico_line">|</span>
			<a href="#" onclick="showConfirm('$i18n.get("confirm.fail.mock")', '$consumer.address -&gt; $tool.getSimpleName($consumer.service)', '../$consumer.id/tolerant'); return false;"><img src="$rootContextPath.getURI("images/ico_run.png")" width="12" height="12" /><span class="ico_font">$i18n.get("fail.mock")</span></a>
		#end
	#end
	#if ($consumer.routes && $consumer.routes.size() > 0)
		<span class="ico_line">|</span>
		<a href="../$consumer.id/routed"><img src="$rootContextPath.getURI("images/ico_balance.png")" width="12" height="12" /><span class="ico_font">$i18n.get("routed")($consumer.routes.size())</span></a>
	#end
	#if ($consumer.providers && $consumer.providers.size() > 0)
		<span class="ico_line">|</span>
		<a href="../$consumer.id/notified"><img src="$rootContextPath.getURI("images/ico_renotify.png")" width="12" height="12" /><span class="ico_font">$i18n.get("notified")($consumer.providers.size())</span></a>
	#end
</div>
<br/>
<form id="consumerForm" action="../$consumer.id" method="POST">
<table cellpadding="0" cellspacing="0" class="info">
	#if(! $service)
		<tr>
			<th style="width: 100px;">$i18n.get("service"): </th>
			<td>$!consumer.service</td>
		</tr>
	#end
	<tr>
		<th style="width: 100px;">$i18n.get("consumerAddress"):</th>
		<td>consumer://$!consumer.address/$!consumer.service?$!consumer.parameters</td>
	</tr>
	<tr>
		<th>$i18n.get("overrides"): </th>
		<td><input type="text" name="parameters" value="$!consumer.override.params" class="setting_input" style="width: 400px;" /> <font color="blue">$i18n.get("dynamic.parameters.tip")</font></td>
	</tr>
	<tr>
		<th>$i18n.get("mock"):</th>
		<td>
			#if($mock.equals("force%3Areturn+null"))
				<font color="red">$i18n.get("force.mocked")</font>
			#elseif ($mock.equals("fail%3Areturn+null"))
				<font color="blue">$i18n.get("fail.mocked")</font>
			#else
				<font color="gray">$i18n.get("no.mocked")</font>
			#end
		</td>
	</tr>
	<tr>
		<th>$i18n.get("Status"):</th>
		<td>
	    	#if($tool.isInBlackList($consumer))
				<font color="red">$i18n.get("Forbidden")</font>
			#else
				<font color="green">$i18n.get("Allowed")</font>
			#end
		</td>
	</tr>
	<tr>
		<th>$i18n.get("Route"):</th>
		<td>
	    	#if($consumer.routes && $consumer.routes.size() > 0)
				<a href="../$consumer.id/routed">$i18n.get("routed")($consumer.routes.size())</a>
			#else
				<font color="gray">$i18n.get("unrouted")</font>
			#end
		</td>
	</tr>
	<tr>
		<th>$i18n.get("notify"):</th>
		<td>
			#if($consumer.providers && $consumer.providers.size() > 0)
	    		<a href="../$consumer.id/notified">$i18n.get("notified")($consumer.providers.size())</a>
	    	#else
	    		<font color="red">$i18n.get("NoProvider")</font>
	    	#end
		</td>
	</tr>
	<tr>
		<th><div class="btn"><a href="#" onclick="document.getElementById('consumerForm').submit();">$i18n.get("save")</a></div></th>
		<td></td>
	</tr>
</table>
</form>