<div class="ico_btn">
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th>$i18n.get("property.name"): <input type="text" onkeyup="searchTable('table_o', 0, this.value);"
                                               onclick="searchTable('table_o', 0, this.value);"/>&nbsp;<img
                src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/></th>
        <th>$i18n.get("property.count")</th>
    </tr>
    <tr>
        <td>
            $i18n.get("NoProvider")
        </td>
        <td>
            <a herf="#" onclick="window.open('/sysinfo/dump/noProviders')">$i18n.get("property.count")
                ($noProviderServices.size())</a>
        </td>
    </tr>
    <tr>
        <td>
            $i18n.get("services")
        </td>
        <td>
            <a herf="#" onclick="window.open('/sysinfo/dump/services')">$i18n.get("property.count")
                ($services.size())</a>
        </td>
    </tr>
    <tr>
        <td>
            $i18n.get("providers")
        </td>
        <td>
            <a herf="#" onclick="window.open('/sysinfo/dump/providers')">$i18n.get("property.count")
                ($providers.size())</a>
        </td>
    </tr>
    <tr>
        <td>
            $i18n.get("consumers")
        </td>
        <td>
            <a herf="#" onclick="window.open('/sysinfo/dump/consumers')">$i18n.get("property.count")
                ($consumers.size())</a>
        </td>
    </tr>
    <tr>
        <td>
            $i18n.get("versions")
        </td>
        <td>
            #set ($client=$providers.size()+$consumers.size())
            <a herf="#" onclick="window.open('/sysinfo/dump/versions')">$i18n.get("property.count")($client)</a>
        </td>
    </tr>
</table>