$control.setTemplate("home:menu.vm") 
<script language="javascript">setActiveTab(2);</script>

<div class="main">
 <div class="title"><h2>套接字连接</h2></div><span class="title_num">(6/120)</span>
 <div class="crumbs">系统信息&nbsp;&nbsp;>&nbsp;&nbsp;套接字连接</div>  
 <div class="setting_box">    
   <div class="search_list"><input name="" type="text" /><div class="btn"><a href="#">查&nbsp;询</a></div></div> 
     <table cellpadding="0" cellspacing="0" class="list list_system" id="table_o">
       <tr>
         <th>连接地址</th>
         <th>角色</th>
         <th class="operate">操作</th>
       </tr> 
       <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_green">服务提供者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
        <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_green">服务提供者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
        <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_green">服务提供者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
        <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_green">服务提供者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
        <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_green">服务提供者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
        <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_green">服务提供者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
        <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_orange">服务消费者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
        <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_green">服务提供者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
        <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_green">服务提供者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
        <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_green">服务提供者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
        <tr>
         <td>10.20.143.80:46868</td>
         <td><span class="rule_orange">服务消费者</span></td>
         <td><a href="#"><img src="images/ico_cl.png" width="12" height="12" /><span class="ico_font">重连</span></a><span class="ico_line">|</span>
         <a href="#"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">重定向</span></a>
         </td>
        </tr>
     </table>
 </div>
</div>
