#if(! $applications || $applications.size() == 0)
<font color="red">$i18n.get("not.found")</font> (<a href="applications?keyword=*">$i18n.get("show.all") </a>)
#elseif($keyword && $applications.size() == 1)
<script type="text/javascript">
    window.location.href = "applications/$applications.iterator().next()/services";
</script>
#else
<div class="ico_btn">
    #if($currentUser.role != "G")
        #if($service)
            <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
                "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
                "please.select")'); } else { showConfirm('$i18n.get(
                "confirm.batch.force.mock")', 'applications/0/shield?application=' + getChecked('ids'));} return false;"><img
                    src="$rootContextPath.getURI("images/ico_disable.png")" width="12" height="12"/><span
                    class="ico_font">$i18n.get("batch.force.mock")</span></a>
            <span class="ico_line">|</span>
            <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
                "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
                "please.select")'); } else { showConfirm('$i18n.get(
                "confirm.batch.fail.mock")', 'applications/0/tolerant?application=' + getChecked('ids'));} return false;"><img
                    src="$rootContextPath.getURI("images/ico_run.png")" width="12" height="12"/><span
                    class="ico_font">$i18n.get("batch.fail.mock")</span></a>
            <span class="ico_line">|</span>
            <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
                "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
                "please.select")'); } else { showConfirm('$i18n.get(
                "confirm.batch.fail.mock")', 'applications/0/recover?application=' + getChecked('ids'));} return false;"><img
                    src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12"/><span
                    class="ico_font">$i18n.get("batch.cancel.mock")</span></a>
            <span class="ico_line">|</span>
            <a href="#" onclick="showConfirm('$i18n.get(
                "confirm.all.force.mock")', 'applications/0/allshield'); return false;"><img
                    src="$rootContextPath.getURI("images/ico_cancel.png")" width="12" height="12"/><span
                    class="ico_font">$i18n.get("all.force.mock")</span></a>
            <span class="ico_line">|</span>
            <a href="#"
               onclick="showConfirm('$i18n.get("confirm.all.fail.mock")', 'applications/0/alltolerant'); return false;"><img
                    src="$rootContextPath.getURI("images/ico_run.png")" width="12" height="12"/><span
                    class="ico_font">$i18n.get("all.fail.mock")</span></a>
            <span class="ico_line">|</span>
            <a href="#" onclick="showConfirm('$i18n.get(
                "confirm.all.cancel.mock")', 'applications/0/allrecover'); return false;"><img
                    src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12"/><span
                    class="ico_font">$i18n.get("all.cancel.mock")</span></a>
        #end
    #end
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th width="20"><input type="checkbox" onclick="checkAll('table_o', 'ids', this.checked)"/></th>
        <th>$i18n.get("application"):
            <input type="text" onkeyup="searchTable('table_o', 1, this.value);"
                   onclick="searchTable('table_o', 1, this.value);"/>&nbsp;<img
                    src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/>
        </th>
        <th width="110">$i18n.get("role"): <select onchange="searchTable('table_o', 2, this.value);"
                                                   onclick="searchTable('table_o', 2, this.value);">
            <option value="">$i18n.get("all")</option>
            <option value="$i18n.get("provider")">$i18n.get("provider")</option>
            <option value="$i18n.get("consumer")">$i18n.get("consumer")</option>
        </select></th>
        #if($service)
            <th width="110">$i18n.get("mock"): <select onchange="searchTable('table_o', 3, this.value);"
                                                       onclick="searchTable('table_o', 3, this.value);">
                <option value="">$i18n.get("all")</option>
                <option value="$i18n.get("ok")">$i18n.get("ok")</option>
                <option value="$i18n.get("force.mock")">$i18n.get("force.mock")</option>
                <option value="$i18n.get("fail.mock")">$i18n.get("fail.mock")</option>
            </select></th>
            <th>$i18n.get("operation")</th>
        #end
    </tr>
    #foreach($application in $applications)
        <tr>
            <td><input type="checkbox" name="ids" value="$application"/></td>
            <td>#if($service)$application#else<a href="applications/$application/services">$application</a>#end</td>
            <td>
                #if($providerApplications.contains($application))
                    <font color="green">$i18n.get("provider")</font>
                #end
                #if($consumerApplications.contains($application))
                    <font color="blue">$i18n.get("consumer")</font>
                #end
            </td>
            #if($service)
                <td>
                    #if($consumerApplications.contains($application))
                        #set($mock=$tool.getOverridesMock($overrides.get($application)))
                        #if($mock == "force%3Areturn+null")
                            <font color="red">$i18n.get("force.mocked")</font>
                        #elseif ($mock == "fail%3Areturn+null")
                            <font color="blue">$i18n.get("fail.mocked")</font>
                        #else
                            <font color="gray">$i18n.get("no.mocked")</font>
                        #end
                    #end
                </td>
                <td>
                    #if($consumerApplications.contains($application))
                        #set($mock=$tool.getOverridesMock($overrides.get($application)))
                        #if($mock == "force%3Areturn+null")
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.cancel.mock")', '$application -&gt; $service', 'applications/0/recover?application=$application'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12"/><span
                                    class="ico_font">$i18n.get("cancel.mock")</span></a>
                            <span class="ico_line">|</span>
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.fail.mock")', '$application -&gt; $service', 'applications/0/tolerant?application=$application'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_run.png")" width="12" height="12"/><span
                                    class="ico_font">$i18n.get("fail.mock")</span></a>
                        #elseif ($mock == "fail%3Areturn+null")
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.force.mock")', '$application -&gt; $service', 'applications/0/shield?application=$application'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_disable.png")" width="12"
                                    height="12"/><span class="ico_font">$i18n.get("force.mock")</span></a>
                            <span class="ico_line">|</span>
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.cancel.mock")', '$application -&gt; $service', 'applications/0/recover?application=$application'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12"/><span
                                    class="ico_font">$i18n.get("cancel.mock")</span></a>
                        #else
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.force.mock")', '$application -&gt; $service', 'applications/0/shield?application=$application'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_disable.png")" width="12"
                                    height="12"/><span class="ico_font">$i18n.get("force.mock")</span></a>
                            <span class="ico_line">|</span>
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.fail.mock")', '$application -&gt; $service', 'applications/0/tolerant?application=$application'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_run.png")" width="12" height="12"/><span
                                    class="ico_font">$i18n.get("fail.mock")</span></a>
                        #end
                    #end
                </td>
            #end
        </tr>
    #end
</table>
<div class="page">$i18n.get("page.total")$applications.size()$i18n.get("page.records") </div>
#end