<configuration status="error">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <appender-ref ref="Console"/>
        </Root>
    </Loggers>
</configuration>