<div class="ico_btn">
    #if($currentUser.role != "G")
        <a href="providers/add"><img src="$rootContextPath.getURI("images/ico_add.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("add")</span></a>
        <span class="ico_line">|</span>
        <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
            "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
            "please.select")'); } else { showConfirm('$i18n.get(
            "confirm.batch.weight.doubling")', 'providers/' + getChecked('ids') + '/doubling');} return false;"><img
                src="$rootContextPath.getURI("images/ico_up.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("batch.weight.doubling")</span></a>
        <span class="ico_line">|</span>
        <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
            "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
            "please.select")'); } else { showConfirm('$i18n.get(
            "confirm.batch.weight.halving")', 'providers/' + getChecked('ids') + '/halving');} return false;"><img
                src="$rootContextPath.getURI("images/ico_down.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("batch.weight.halving")</span></a>
        <span class="ico_line">|</span>
        <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
            "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
            "please.select")'); } else { showConfirm('$i18n.get(
            "confirm.batch.disable")', 'providers/' + getChecked('ids') + '/disable');} return false;"><img
                src="$rootContextPath.getURI("images/ico_disable.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("batch.disable")</span></a>
        <span class="ico_line">|</span>
        <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
            "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
            "please.select")'); } else { showConfirm('$i18n.get(
            "confirm.batch.enable")', 'providers/' + getChecked('ids') + '/enable');} return false;"><img
                src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("batch.enable")</span></a>
        <span class="ico_line">|</span>
        <a href="#" onclick="if(! hasCheckbox('ids')) { showAlert('$i18n.get(
            "empty.list")'); } else if(! hasChecked('ids')) { showAlert('$i18n.get(
            "please.select")'); } else { showConfirm('$i18n.get(
            "confirm.batch.delete")', 'providers/' + getChecked('ids') + '/delete'); } return false;"><img
                src="$rootContextPath.getURI("images/ico_delete.png")" width="12" height="12"/><span
                class="ico_font">$i18n.get("batch.delete")</span></a>
    #end
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th width="20"><input type="checkbox" onclick="checkAll('table_o', 'ids', this.checked)"/></th>
        <th>#if($address)$i18n.get("service")#else$i18n.get("address")#end: <input type="text" style="width: 60px;"
                                                                                   onkeyup="searchTable('table_o', 1, this.value);"
                                                                                   onclick="searchTable('table_o', 1, this.value);"/>&nbsp;<img
                src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/></th>
        <th>$i18n.get("weight"): <input type="text" style="width: 60px;"
                                        onkeyup="searchTable('table_o', 2, this.value);"
                                        onclick="searchTable('table_o', 2, this.value);"/>&nbsp;<img
                src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/></th>
        <th width="100">$i18n.get("type"): <select onchange="searchTable('table_o', 3, this.value);"
                                                   onclick="searchTable('table_o', 3, this.value);">
            <option value="">$i18n.get("all")</option>
            <option value="$i18n.get("dynamic")">$i18n.get("dynamic")</option>
            <option value="$i18n.get("static")">$i18n.get("static")</option>
        </select></th>
        <th width="110">$i18n.get("status"): <select onchange="searchTable('table_o', 4, this.value);"
                                                     onclick="searchTable('table_o', 4, this.value);">
            <option value="">$i18n.get("all")</option>
            <option value="$i18n.get("enabled")">$i18n.get("enabled")</option>
            <option value="$i18n.get("disabled")">$i18n.get("disabled")</option>
        </select></th>
        <th width="100">$i18n.get("check"): <select onchange="searchTable('table_o', 5, this.value);"
                                                    onclick="searchTable('table_o', 5, this.value);">
            <option value="">$i18n.get("all")</option>
            <option value="$i18n.get("ok")">$i18n.get("ok")</option>
            <option value="$i18n.get("warn")">$i18n.get("warn")</option>
            <option value="$i18n.get("error")">$i18n.get("error")</option>
        </select></th>
        #if($currentUser.role != "G")
            <th>$i18n.get("operation")</th>#end
    </tr>

    #foreach($provider in $providers)
        #set($providerApplication = "")
        <tr>
            <td><input type="checkbox" name="ids" value="$provider.id"/></td>
            <td>
                <a href="providers/$provider.id">#if($address)$tool.getSimpleName($provider.service)#else$provider.address#end</a>
            </td>
            <td>$tool.getProviderWeight($provider)</td>
            <td>#if($provider.dynamic)<font color="green">$i18n.get("dynamic")</font>#else<font color="blue">$i18n.get(
                "static")</font>#end</td>
            <td>#if($tool.isProviderEnabled($provider))<font color="green">$i18n.get("enabled")</font>#else<font
                    color="red">$i18n.get("disabled")</font>#end</td>
            <td>
                #set($errorLevel = "ok")
                #set($errorMessage = "")
                #set($appList = $!serviceAppMap.get($provider.service))
                #if($appList.size()>1)
                    #if ($errorLevel != "error") #set($errorLevel = "warn") #end
                    #set($errorMessage ="$errorMessage<br>$i18n.get('warn'): $i18n.get(
                        'CheckProviderApplicationDifferent', $appList)")
                #end

                #if($provider.address.startsWith("127.") || $provider.address.startsWith(
                    "localhost:") || $provider.address.startsWith("0.0.0.0:"))
                    #if ($errorLevel != "error") #set($errorLevel = "warn") #end
                    #set($errorMessage =
                        "$errorMessage<br>$i18n.get('warn'): $i18n.get('CheckProviderLocalAddress', $provider.address)")
                #end

                #if ($errorLevel == "warn")
                    <a href="#" onclick="showAlert('<font color=orange>$i18n.get(
                        "warn")</font>', '$errorMessage'); return false;">
                        <img src="$rootContextPath.getURI("images/ico_warn.png")" width="12" height="12"/>
                        <font color="orange"><u>$i18n.get("warn")</u></font>
                    </a>
                #elseif ($errorLevel == "error")
                    <a href="#"
                       onclick="showAlert('<font color=red>$i18n.get("error")</font>', '$errorMessage'); return false;">
                        <img src="$rootContextPath.getURI("images/ico_error.png")" width="12" height="12"/>
                        <font color="red"><u>$i18n.get("error")</u></font>
                    </a>
                #else
                    <font color="green">$i18n.get("ok")</font>
                #end
            </td>
            #if($currentUser.role != "G")
                <td>
                    #if($currentUser.hasServicePrivilege($provider.service))
                        <a href="providers/$provider.id/edit"><img src="$rootContextPath.getURI("images/ico_edit.png")"
                                                                   width="12" height="12"/><span
                                class="ico_font">$i18n.get("edit")</span></a>
                        <span class="ico_line">|</span>
                        <a href="providers/$provider.id/add"><img src="$rootContextPath.getURI("images/ico_add.png")"
                                                                  width="12" height="12"/><span
                                class="ico_font">$i18n.get("copy")</span></a>
                        <span class="ico_line">|</span>
                        <a href="#" onclick="showConfirm('$i18n.get(
                            "confirm.weight.doubling")', '$provider.url', 'providers/$provider.id/doubling'); return false;"><img
                                src="$rootContextPath.getURI("images/ico_up.png")" width="12" height="12"/><span
                                class="ico_font">$i18n.get("weight.doubling")</span></a>
                        <span class="ico_line">|</span>
                        <a href="#" onclick="showConfirm('$i18n.get(
                            "confirm.weight.halving")', '$provider.url', 'providers/$provider.id/halving'); return false;"><img
                                src="$rootContextPath.getURI("images/ico_down.png")" width="12" height="12"/><span
                                class="ico_font">$i18n.get("weight.halving")</span></a>
                        <span class="ico_line">|</span>
                        #if($tool.isProviderEnabled($provider))
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.disable")', '$provider.url', 'providers/$provider.id/disable'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_disable.png")" width="12"
                                    height="12"/><span class="ico_font">$i18n.get("disable")</span></a>
                        #else
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.enable")', '$provider.url', 'providers/$provider.id/enable'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_enable.png")" width="12" height="12"/><span
                                    class="ico_font">$i18n.get("enable")</span></a>
                        #end
                        #if(! $provider.dynamic)
                            <span class="ico_line">|</span>
                            <a href="#" onclick="showConfirm('$i18n.get(
                                "confirm.delete")', '$provider.url', 'providers/$provider.id/delete'); return false;"><img
                                    src="$rootContextPath.getURI("images/ico_delete.png")" width="12" height="12"/><span
                                    class="ico_font">$i18n.get("delete")</span></a>
                        #end
                    #end
                </td>
            #end
        </tr>
    #end
</table>
<div class="page">$i18n.get("page.total")$providers.size()$i18n.get("page.records") </div>
