<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dubbo Admin</title>
    <link type="text/css" href="$rootContextPath.getURI("css/common.css")" rel="stylesheet"/>
    <link type="text/css" href="$rootContextPath.getURI("css/skin.css")" rel="stylesheet"/>
    <link type="text/css" href="$rootContextPath.getURI("css/dubbo.css")" rel="stylesheet"/>
    <script type="text/javascript" src="$rootContextPath.getURI("js/ajax.js")"></script>
    <script type="text/javascript" src="$rootContextPath.getURI("js/box.js")"></script>
    <script type="text/javascript" src="$rootContextPath.getURI("js/trcolor.js")"></script>
    <script type="text/javascript" src="$rootContextPath.getURI("js/jquery-1.4.2.min.js")"></script>
    <script type="text/javascript" src="$rootContextPath.getURI("js/jquery.simplemodal-1.4.js")"></script>
    <script type="text/javascript" src="$rootContextPath.getURI("js/dubbo.js")"></script>
</head>
<body onload="init();initSearch();">
    $control.setTemplate("home:menu.vm")
<script language="javascript">setActiveTab(2);</script>
<div class="dubbo_search">
    <div class="title title_search"><h2>
        #if($_method != "index")$i18n.get($_method)#end $i18n.get($_type)
    </h2></div>
    <div class="crumbs">
        <a href="/">$i18n.get("home")</a> &gt; $i18n.get("governance")
        #if($application && $application != '*')
            &gt;
            $i18n.get("applications")
            &gt; $application
        #end
        #if($service && $service != '*')
            &gt;
            #if($application && $application != '*')
                <a href="/governance/applications/$application/services">$i18n.get("services")</a>
            #else
                $i18n.get("services")
            #end
            &gt; $service
        #elseif($address && $address != '*')
            &gt;
            #if($application && $application != '*')
                <a href="/governance/applications/$application/addresses">$i18n.get("addresses")</a>
            #else
                $i18n.get("addresses")
            #end
            &gt; $address
        #end
        #if($_method == "index")
            &gt; $i18n.get($_type)
        #else
            &gt;
            #if($_method == "show")
                <a href="../$_type">$i18n.get($_type)</a>
            #elseif($id)
                <a href="../../$_type">$i18n.get($_type)</a>
            #else
                <a href="../$_type">$i18n.get($_type)</a>
            #end
            &gt;
            #if($id)$id &gt;#end
            $i18n.get($_method)
        #end
    </div>
    <div class="search_o" id="Tab1">
        <div class="search_categories">
            <ul>
                <li id="one1" onclick="setTab2('one',1,3); return false;"><a href="#">$i18n.get("service")</a><span
                        class="search_line">|</span></li>
                <li id="one2" onclick="setTab2('one',2,3); return false;"><a href="#">$i18n.get("application")</a><span
                        class="search_line">|</span></li>
                <li id="one3" onclick="setTab2('one',3,3); return false;"><a href="#">$i18n.get("address")</a></li>
            </ul>
        </div>
        <div class="contentbox">
            <div id="con_one_1">
                <div class="search_input"><input id="searchContent" name="searchContent" type="text"
                                                 onfocus="fnonfocus();" onblur="fnonblur();" onclick="this.select();"
                                                 onkeypress="javascript:if(event.keyCode==13){fnSearch();}"/></div>
                <div class="search_btn"><a href="#" onclick="fnSearch()"><img
                        src="$rootContextPath.getURI("images/search_btn.png")" width="39" height="31"/></a></div>
            </div>
            <div id="serviceDiv" style="display: none; background-color: white;">
                <table id="serviceCompletion">
                    <tr>
                        <td>search</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="dubbo_content">
    <div class="tab" id="Tab2">
        #set($tabs = [])
        #if($service && $service != '*')
            #set($tabs = ["providers", "consumers", "applications", "routes", "overrides", "accesses", "weights",
                "loadbalances", "owners"])
        #elseif($address && $address != '*')
            #set($tabs = ["providers", "consumers", "routes", "accesses", "weights"])
        #elseif($application && $application != '*')
            #set($tabs = ["services", "addresses", "overrides"])
        #else
            #if($_type != "services" && $_type != "applications" && $_type != "addresses")
                #set($tabs = ["providers", "consumers", "routes", "overrides", "accesses", "weights", "loadbalances",
                    "owners"])
            #end
        #end
        #if($tabs.size() > 0)
            <div class="menubox">
                <ul>
                    #foreach ($tab in $tabs)
                        #if($tool.checkUrl($currentUser,"/governance/$tab"))
                            <li id="$tab"#if($_type == $tab) class="active"#else style="color: white;"#end
                                onclick="window.location.href='#if($_method == "add" && $id)../../#elseif($_method ==
                                    "show" || $_method == "add" || $_method == "addMock")../#elseif($_method ==
                                    "edit" || $_method == "editMock" || $_method == "routed" || $_method ==
                                    "notified" || $_method == "preview" || $_method == "routeselect" || $_method ==
                                    "testrun" || $_method == "notified")../../#{end}$tab';">$i18n.get($tab)</li>
                        #end
                    #end
                </ul>
            </div>
        #end
        <div class="contentbox_tab">
            <div id="con_two_1">
                $screen_placeholder
            </div>
        </div>
    </div>
</div>
<div id="alertBox" style="display: none; position: absolute; left: 200px; top: 200px; width: 720px; height: 300px;">
    <table style="background-image: url('$rootContextPath.getURI("images/tip_choose.png")');" width="720" height="300">
        <tr height="42">
            <td></td>
            <td width="31"><img src="$rootContextPath.getURI("images/pop_close.png")" onclick="alertOK();"
                                style="cursor: pointer;" width="20" height="20"/></td>
        </tr>
        <tr height="120">
            <td align="right"><span id="alertText" style="font-size: 32px;">$i18n.get("please.input")</span><br/><span
                    id="alertData" style="font-size: 12px;"></span></td>
            <td></td>
        </tr>
        <tr>
            <td align="right">
                <div class="btn_info" style="float: right; clear: left;"><a href="#" onclick="alertOK();">$i18n.get(
                    "confirm")</a></div>
            </td>
            <td></td>
        </tr>
    </table>
</div>
<div id="confirmBox" style="display: none; position: absolute; left: 200px; top: 200px; width: 720px; height: 300px;">
    <table style="background-image: url('$rootContextPath.getURI("images/tip_confirm.png")');" width="720" height="300">
        <tr height="42">
            <td></td>
            <td width="31"><img src="$rootContextPath.getURI("images/pop_close.png")" onclick="confirmCancel();"
                                style="cursor: pointer;" width="20" height="20"/></td>
        </tr>
        <tr height="120">
            <td align="right"><span id="confirmText" style="font-size: 32px;">$i18n.get("confirm")</span><br/><span
                    id="confirmData" style="font-size: 12px;"></span></td>
            <td></td>
        </tr>
        <tr>
            <td align="right">
                <div class="btn_info" style="float: right; clear: left;"><a href="#"
                                                                            onclick="confirmCancel();">$i18n.get(
                    "cancel")</a></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="btn_info" style="float: right; clear: left;">
                <a href="#" onclick="confirmOK();">$i18n.get("confirm")</a></div>
            </td>
            <td></td>
        </tr>
    </table>
</div>
<form id="favoritesForm" method="POST" action="/governance/favorites/create">
    <input name="search_name" id="search_name" type="hidden"/>
    <input name="search_value" id="search_value" type="hidden"/>
</form>
<script type="text/javascript">
    var searchType = "services";
    var serviceListLoaded = false;
    function fnSearch() {
        var searchContent = document.getElementById('searchContent');
        var keyword = searchContent.value;
        if (keyword.length > 200) {
            showAlert("content maxlength is 200!", "searchContent");
            return;
        }
        if (keyword == ''
                || keyword == '$i18n.get("please.input.service")'
                || keyword == '$i18n.get("please.input.application")'
                || keyword == '$i18n.get("please.input.address")') {
            keyword = '*';
        }
        window.location.href = '/governance/' + searchType + '?keyword=' + keyword;
    }
    function initSearch() {
        #if($application && ! $service && ! $address)
            setTab2('one', 2, 3)
        #elseif($address)
            setTab2('one', 3, 3)
        #else
            setTab2('one', 1, 3)
        #end
    }
    function setTab2(name, cursel, n) {
        var obj = document.getElementById('searchContent');
        for (var i = 1; i <= n; i++) {
            var menu = document.getElementById(name + i);
            menu.className = i == cursel ? "active" : "";
        }
        var msg = "";
        var val = "";
        if (cursel == 1) {
            msg = '$i18n.get("please.input.service")';
            #if($service)
                #if($keyword)
                    val = '$keyword';
                #else
                    val = '$service';
                #end
            #else
                val = msg;
            #end
            searchType = "services";
        }
        else if (cursel == 2) {
            msg = '$i18n.get("please.input.application")';
            #if($application)
                #if($keyword)
                    val = '$keyword';
                #else
                    val = '$application';
                #end
            #else
                val = msg;
            #end
            searchType = "applications";
        }
        else if (cursel == 3) {
            msg = '$i18n.get("please.input.address")';
            #if($address)
                #if($keyword)
                    val = '$keyword';
                #else
                    val = '$address';
                #end
            #else
                val = msg;
            #end
            searchType = "addresses";
        }
        obj.value = val;
        obj.setAttribute("onfocus", "fnonfocus('" + msg + "')");
        obj.setAttribute("onblur", "fnonblur('" + msg + "')");
    }
    function fnonfocus() {
        var obj = document.getElementById('searchContent');
        if (obj.value == '$i18n.get("please.input.service")'
                || obj.value == '$i18n.get("please.input.application")'
                || obj.value == '$i18n.get("please.input.address")') {
            obj.value = '';
        }
    }
    function fnonblur() {
        var obj = document.getElementById('searchContent');
        if (obj.value == '') {
            if (searchType == 'services')
                obj.value = '$i18n.get("please.input.service")';
            else if (searchType == 'applications')
                obj.value = '$i18n.get("please.input.application")';
            else if (searchType == 'addresses')
                obj.value = '$i18n.get("please.input.address")';
        }
    }
</script>
</body>
</html>