<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>dubbo</title>
<link type="text/css" href="$rootContextPath.getURI("css/common.css")" rel="stylesheet"/>
<link type="text/css" href="$rootContextPath.getURI("css/skin.css")" rel="stylesheet"/>
<link type="text/css" href="$rootContextPath.getURI("css/dubbo.css")" rel="stylesheet"/>
<script type="text/javascript" src="$rootContextPath.getURI("js/box.js")"></script>
</head>
<body>
$screen_placeholder
</body>
</html>