@charset "utf-8";
/* CSS Document */
/*head*/
.head_right_dubbo{
	float:right;
}
.head_right_dubbo span{
	color:#fff;
	line-height:30px;
	float:right;
	margin-right:15px;
}
.head_right_dubbo span a{
	color:#fff;
}
.exit{
	float:right;
	padding-top:3px;
}
.head_right_dubbotop{
	margin-top:0px;
	margin-right:0px;
	color:white;
}
.head_right_dubbobottom{
	margin-top:30px;
	margin-right:10px;
	text-align:right;
	color:white;
}
.head_right_dubbobottom td{
	margin-left:50px;
}
/*title*/
.title_search{
	margin-bottom:20px;
	*margin-bottom:10px;
}
.dubbo_search{ 
    background: url(../images/main_bg.png) repeat-x;
	padding:15px 20px 0 20px;
	height:120px;
	*height:100px;
}
.dubbo_search_nobox { 
	height:40px;
}
.dubbo_main{
	height:100%;
	clear:left;
}
.dubbo_content{
	margin:0 20px 20px 20px;
	background:#f3f5f5;
	border:#cccccc 1px solid;
	padding:15px 25px 10px 15px;
}
/*search*/
.search{
	width:500px;
	margin:150px auto;
}
.search_o{
	clear:left;
	width:500px;
}
.search_categories{
	height:18px;
}
.search_categories ul li{
	float:left;
	width:60px;
	line-height:10px;
	*line-height:15px;
	text-align:center;
}
.search_categories ul li a{
	color:#586573;
	text-decoration:none;
}
.search_categories ul li span.search_line{
	margin-left:10px;
	color:#CCC;
}
.search_categories ul li span.search_line_end{
	margin-left:10px;
	color:#fff;
}
.active{
	background:url(../images/search_active.png);
	width:52px;
	height:20px;
	display:block;
}	
.search_input{
	background:url(../images/search_input.png);
	width:438px;
	height:31px;
	float:left;
}
.search_input input{
	border:none;
	background:url(../images/input.png);
	width:350px;
	height:21px;
	margin:5px 0 0 80px;
	*margin:4px 0 0 80px;
	color:#7d8a98;
	line-height:20px;
}
.search_btn{
	margin-top:5px;
	*margin:0;
}
.btn_search{
	background:url(../images/btn_service.png);
	width:132px;
	height:20px;
	text-align:center;
	line-height:20px;
	margin-top:10px;
}
.btn_search a,.btn_info a{
	text-decoration:none;
	color:#666;
	display:block;
}

/*table*/	
table.info{
	width:100%;
}

table.info th{
	font-weight:bold;
	text-align:left;
	padding-top:10px;
}

table.info td{
	font-weight:normal;
	text-align:left;
	padding-top:10px;
	padding-left:10px;
}

.btn_info{
	background:url(../images/btn_info.png);
	width:78px;
	height:20px;
	text-align:center;
	line-height:20px;
	float:left;
	margin:5px 5px 10px 0;
}
.search_list input{
	width:200px;
	float:left;
	margin-right:10px;
	height:17px;
}
table.list_dubbo th{
	background:url(../images/dubbo_list_th.png);
	height:29px;
	color:#586573;
	font-weight:normal;
	padding-left:10px;
}
table.list_dubbo th.checkbox{
	width:50px;
}
table.list_dubbo th.operate,table.list_system th.operate{
	width:190px;
}
table.list_system{
	width:700px;
}
table.list_system th{
	text-align:left;
}
table.list_system th.operate_system{
	width:180px;
}
table.list_system td span.radio_font{
	padding:0 40px 0 5px;
}
span.rule_green{
	color:#390;
}
span.rule_orange{
	color:#F60;
}

/*setting*/
span.state{
	color:#390;
}

/*favorite*/
.favorite{
	width:291px;
	clear:left;
	float:left;
	*margin-top:10px;
}
.fav_tab{
	float:right;
}
.fav_tab ul li{
	background:url(../images/fav_tab_normal.png);
	width:20px;
	height:70px;
}
.fav_tab ul li.active{
	background:url(../images/fav_tab_active.png);
	width:20px;
	height:70px;
}
.fav_tab ul li a,.fav_tab ul li.active a{
	text-decoration:none;
	padding:6px 0 0 4px;
	display:block;
	line-height:15px;
}
.fav_box{
	float:left;
	width:269px;
	min-height:150px;
	background:#f5f5f5;
	border:#ccc 1px solid;
}
.fav_box_title{
	background:url(../images/fav_title.png);
	height:30px;
	line-height:30px;
	padding-left:15px;
}
.fav_box_title span{
	padding-left:5px;
}
.fav_box_title img{
	margin-left:20px;
}
.fav_title_left{
	float:left;
}
.fav_content{
	margin:10px 0 10px 15px;
}
.fav_content table td{
	line-height:23px;
}
.fav_tips{
	width:210px; 
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;
}
.fav_tips a{
	text-decoration:none;
}
.fav_content_checkbox{
	margin-right:10px;
}
.fav_arrow{
	float:right;
	padding-top:7px;
	padding-right:10px;
}
