<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" metadata-complete="true">
    <display-name>dubbo-demo</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

</web-app>
