<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dubbo Admin</title>
    <link type="text/css" href="$rootContextPath.getURI("css/common.css")" rel="stylesheet"/>
    <link type="text/css" href="$rootContextPath.getURI("css/skin.css")" rel="stylesheet"/>
    <link type="text/css" href="$rootContextPath.getURI("css/dubbo.css")" rel="stylesheet"/>
    <script type="text/javascript" src="$rootContextPath.getURI("js/ajax.js")"></script>
    <script type="text/javascript" src="$rootContextPath.getURI("js/box.js")"></script>
    #if($_method == "index")
        <script type="text/javascript" src="$rootContextPath.getURI("js/trcolor.js")"></script>
    #end
    <script type="text/javascript" src="$rootContextPath.getURI("js/jquery-1.4.2.min.js")"></script>
    <script type="text/javascript" src="$rootContextPath.getURI("js/jquery.simplemodal-1.4.js")"></script>
    <script type="text/javascript" src="$rootContextPath.getURI("js/dubbo.js")"></script>
</head>
<body onload="init();">
    $control.setTemplate("home:menu.vm")
<script language="javascript">setActiveTab(3);</script>
<div class="dubbo_search dubbo_search_nobox">
    <div class="title title_search">
        <h2>
            #if($_method == "index")
                $i18n.get("sysinfo.$_type")
            #else
                $i18n.get($_method)
            #end
        </h2>
    </div>
    <div class="crumbs">
        <a href="/">$i18n.get("home")</a> &gt; $i18n.get("system.management")
        #if($service)
            &gt; <a href="../../#if($_method == "show" || $_method == "add")../#elseif($_method ==
            "edit")../../#{end}services">$i18n.get("services")</a>
            &gt; $service
        #elseif($application)
            &gt; <a href="../../#if($_method == "show" || $_method == "add")../#elseif($_method ==
            "edit")../../#{end}applications">$i18n.get("applications")</a>
            &gt; $application
        #elseif($address)
            &gt; <a href="../../#if($_method == "show" || $_method == "add")../#elseif($_method ==
            "edit")../../#{end}addresses">$i18n.get("addresses")</a>
            &gt; $address
        #end
        #if($_method == "index")
            &gt; $i18n.get("sysinfo.$_type")
        #else
            &gt; <a href="../$_type">$i18n.get("sysinfo.$_type")</a>
            &gt; #if($id)$id &gt;#end $i18n.get($_method)
        #end
    </div>
</div>
<div class="dubbo_content">
    <div class="tab" id="Tab2">
        <div class="menubox">
            <ul>
                #set($tabs = ["versions", "dumps", "statuses", "logs", "envs"])
                #foreach ($tab in $tabs)
                    #if($tool.checkUrl($currentUser,"/sysinfo/$tab"))
                        <li id="$tab"#if($_type == $tab) class="active"#else style="color: white;"#end
                            onclick="window.location.href='/sysinfo/$tab';">$i18n.get($tab)</li>
                    #end
                #end
            </ul>
        </div>
        <div class="contentbox_tab">
            <div id="con_two_1">
                $screen_placeholder
            </div>
        </div>
    </div>
</div>
<div id="alertBox" style="display: none; position: absolute; left: 200px; top: 200px; width: 720px; height: 300px;">
    <table style="background-image: url('$rootContextPath.getURI("images/tip_choose.png")');" width="720" height="300">
        <tr height="42">
            <td></td>
            <td width="31">
                <img src="$rootContextPath.getURI("images/pop_close.png")" onclick="alertOK();" style="cursor: pointer;"
                     width="20" height="20"/>
            </td>
        </tr>
        <tr height="120">
            <td align="right">
                <span id="alertText" style="font-size: 32px;">$i18n.get("please.input")</span>
                <br/><span id="alertData" style="font-size: 12px;"></span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td align="right">
                <div class="btn_info" style="float: right; clear: left;">
                    <a href="#" onclick="alertOK();">$i18n.get("confirm")</a>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>
<div id="confirmBox" style="display: none; position: absolute; left: 200px; top: 200px; width: 720px; height: 300px;">
    <table style="background-image: url('$rootContextPath.getURI("images/tip_confirm.png")');" width="720" height="300">
        <tr height="42">
            <td></td>
            <td width="31">
                <img src="$rootContextPath.getURI("images/pop_close.png")" onclick="confirmCancel();"
                     style="cursor: pointer;" width="20" height="20"/>
            </td>
        </tr>
        <tr height="120">
            <td align="right">
                <span id="confirmText" style="font-size: 32px;">$i18n.get("confirm")</span>
                <br/>
                <span id="confirmData" style="font-size: 12px;"></span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td align="right">
                <div class="btn_info" style="float: right; clear: left;">
                    <a href="#" onclick="confirmCancel();">$i18n.get("cancel")</a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;<div class="btn_info" style="float: right; clear: left;">
                <a href="#" onclick="confirmOK();">$i18n.get("confirm")</a>
            </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>